<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% include "./header.html" %}
<div class="container-fluid">
    <div class="row">
        {% include "./patern.html" %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <tr>
                        <th>Program name</th>
                        <td>
                            {{dat.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>Version</th>
                        <td>
                            {{dat.version}}
                        </td>
                    </tr>
                    <tr>
                        <th>Test time</th>
                        <td>
                            {{dat.time}}
                        </td>
                    </tr>
                    {% if dat.r_err_text|length %}
                    <tr>
                        <th>Runtime Errors </th>
                        <td>
                            {{dat.r_err_text}}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <th>Execution result </th>
                        <td>
                            {{dat.no_err_text}}
                        </td>
                    </tr>
                    {% endif %}
                    <tbody>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
</body>
</html>